
body {
    background-color: blue;
}


/* price */
div > b > font {
    background-color: green;
}


/* serial number, div > b { */
div#contentalt1 div:first-child b {
    background-color: red;
}


/* description */
table + table tr + tr td a {
    background-color: blue;
}